// Body
$body-bg: #f8fafc;

// Typography
// This is SCSS (Sassy CSS) — it's a CSS preprocessor that lets you write cleaner,
//  more powerful styles using variables, nesting, and more.
// SCSS lets you store values with $ and reuse them throughout your styles.
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;